@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  width: 320px;
  margin: 0 auto;
  letter-spacing: normal;
  font-family: "Oswald", "Verdana", sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: 768px) {
  body {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  body {
    min-width: 1440px;
  }
}
.page {
  height: 100%;
}
.page-header {
  position: relative;
}
.page-header__container {
  width: 320px;
  margin: 0 auto;
  padding-top: 10px;
}
.page-header__logo img {
  padding-left: 20px;
  padding-bottom: 11px;
}
@media (min-width: 768px) {
  .page-header__container {
    padding: 22px 30px;
    width: 708px;
    display: flex;
    justify-content: space-between;
    block-size: border-box;
  }
  .page-header__logo img {
    width: 174px;
    height: 59px;
    padding: 0;
    margin-right: 96px;
  }
}
@media (min-width: 1200px) {
  .page-header__container {
    width: 1220px;
    padding: 0 110px;
    margin-top: 53px;
  }
  .page-header__logo img {
    width: 203px;
    height: 60px;
  }
}
.main-nav {
  width: auto;
  min-height: auto;
}
.main-nav__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 10px;
  cursor: pointer;
  border: 0;
  z-index: 2;
  padding: 0;
  outline: 0;
}
.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  background-image: url("../../img/icon-close.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  display: block;
  top: -8px;
  right: 12px;
  border: 0;
  outline: 0;
}
.main-nav--closed .main-nav__toggle {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 19px;
  background-image: url("../../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  top: 23px;
  right: 20px;
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav {
    width: 100%;
    min-height: auto;
  }
  .main-nav--opened .main-nav__toggle {
    display: none;
  }
  .main-nav--closed .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    width: 478px;
  }
  .main-nav__list {
    padding: 0;
    justify-content: space-between;
  }
}
.page-main {
  margin: 0;
}
.description {
  position: relative;
}
.description__container {
  width: 280px;
  padding: 0 20px;
  position: relative;
}
.description__main {
  height: 305px;
  background-repeat: no-repeat;
  margin: 0 -20px;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-color: #68b738;
  padding: 0 20px;
  width: 320px;
  box-sizing: border-box;
}
.description__title {
  color: #ffffff;
  line-height: 36px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  padding-top: 28px;
  margin-bottom: 0;
}
.description__text {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-top: 24px;
}
.description__banner {
  margin-top: 45px;
  position: absolute;
  top: 125px;
}
.description__wrapper {
  width: 280px;
  height: 40px;
  background-color: #68b738;
  text-align: center;
  margin: 0 auto;
  margin-top: 303px;
  box-sizing: border-box;
  padding-top: 7px;
}
.description__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
}
@media (min-width: 768px) {
  .description {
    margin-top: 31px;
  }
  .description__container {
    padding: 0 30px;
    width: 708px;
  }
  .description__main {
    background-color: transparent;
    background-image: none;
    width: 720px;
    height: 696px;
  }
  .description__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-left: 87px;
    text-align: left;
    width: auto;
    padding-right: 16px;
    margin-bottom: 41px;
    padding-top: 0;
  }
  .description__text {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    margin-left: 88px;
  }
  .description__banner {
    z-index: -1;
    top: 156px;
  }
  .description__wrapper {
    width: 245px;
    height: 52px;
    padding: 15px 5px 5px;
    margin-top: 30px;
    float: left;
    margin-left: 82px;
  }
  .description__link {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .description__container {
    width: 1220px;
    padding: 0 110px;
  }
  .description__main {
    padding-left: 0px;
    width: 720px;
    height: auto;
    margin-left: 0;
  }
  .description__title {
    margin-top: 105px;
    margin-left: 80px;
    width: 414px;
    padding-right: 0;
  }
  .description__text {
    padding-left: 0;
    margin-left: 80px;
  }
  .description__wrapper {
    margin-left: 80px;
    padding-top: 19px;
  }
  .description__banner {
    top: -128px;
    left: 561px;
  }
  .description__banner::after {
    content: "";
    background-image: url("../../img/index-background-desktop@1x.jpg");
    width: 720px;
    height: 696px;
    display: block;
    position: absolute;
    top: -145px;
    right: -327px;
    z-index: -1;
  }
}
.advice {
  margin-top: 197px;
}
.advice__container {
  padding: 0 20px;
  width: 280px;
}
.advice__list {
  list-style: none;
  padding: 0;
}
.advice__item {
  width: 280px;
  min-height: 265px;
  background-color: #F2F2F2;
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 22px;
  box-sizing: border-box;
  margin-bottom: 19px;
  padding-bottom: 17px;
  position: relative;
}
.advice__item:nth-child(2) {
  border: 1px solid #000000;
  margin-bottom: 27px;
}
.advice__title {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 30px;
}
.advice__title::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 53px;
  left: 27px;
  top: 19px;
  z-index: 2;
}
.advice__title--img {
  margin-left: 40px;
}
.advice__title--img::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 28px;
  z-index: 2;
  left: 12px;
  top: 33px;
}
.advice__title--img::after {
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #68b738;
  width: 50px;
  height: 50px;
  left: 22px;
  top: 22px;
}
.advice__title::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #68b738;
  width: 50px;
  height: 50px;
  left: 22px;
  top: 22px;
}
.advice__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 16px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 23px;
}
.advice__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.advice__link::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/icon-right-arrow-verylong.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 12px;
  left: 120px;
  bottom: 23px;
}
@media (min-width: 768px) {
  .advice {
    margin-top: 114px;
  }
  .advice__container {
    width: 708px;
    padding: 0 30px;
  }
  .advice__list {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .advice__item {
    width: 708px;
    padding-left: 53px;
    padding-bottom: 58px;
    margin-bottom: 30px;
  }
  .advice__item:nth-child(2) {
    border: none;
  }
  .advice__title {
    font-size: 36px;
    line-height: 37px;
    text-align: left;
    margin-top: 48px;
    margin-left: 0;
    margin-bottom: 25px;
  }
  .advice__title::before {
    content: "";
    width: 140px;
    height: 192px;
    left: 477px;
    top: 81px;
  }
  .advice__title--img::before {
    content: "";
    width: 268px;
    height: 112px;
    left: 412px;
    top: 135px;
  }
  .advice__title::after {
    content: "";
    width: 200px;
    height: 200px;
    top: 92px;
    left: 447px;
  }
  .advice__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 33px;
    padding-right: 249px;
    border-bottom: none;
  }
  .advice__text--size {
    padding-right: 290px;
  }
  .advice__link {
    font-size: 20px;
    line-height: 20px;
  }
  .advice__link::after {
    content: "";
    display: block;
    position: absolute;
    left: 184px;
    bottom: 64px;
  }
}
@media (min-width: 1200px) {
  .advice {
    margin-top: 372px;
  }
  .advice__container {
    padding: 0 110px;
    width: 1220px;
  }
  .advice__list {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-gap: 80px;
    height: auto;
  }
  .advice__item {
    width: 570px;
    margin: 0;
    box-sizing: border-box;
  }
  .advice__item:nth-child(2) {
    margin-bottom: 0;
  }
  .advice__title {
    margin-left: 161px;
  }
  .advice__title::before {
    content: "";
    width: 70px;
    height: 97px;
    left: 67px;
    top: 40px;
  }
  .advice__title::after {
    content: "";
    width: 100px;
    height: 100px;
    top: 47px;
    left: 53px;
  }
  .advice__title--img::before {
    content: "";
    width: 134px;
    height: 56px;
    left: 33px;
    top: 66px;
  }
  .advice__text {
    width: 462px;
    margin-top: 75px;
    margin-bottom: 8px;
    padding-right: 0;
  }
  .advice__link::after {
    content: "";
    left: 188px;
    bottom: 66px;
  }
}
.sample {
  margin: 0 auto;
  padding-bottom: 0;
}
.sample__container {
  width: 280px;
  padding: 0 20px;
}
.sample__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  width: auto;
  margin-top: 0;
  margin-bottom: 40px;
}
.sample__list {
  padding: 0;
  list-style: none;
  position: relative;
}
.sample__item {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
  color: #444444;
  margin-left: 80px;
}
.sample__number {
  display: none;
}
.sample__item:nth-child(1)::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 42px;
  z-index: 2;
  left: 7px;
  top: 2px;
}
.sample__item:nth-child(1)::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #68b738;
  width: 60px;
  height: 60px;
  top: -2px;
  left: 0;
}
.sample__item--block-2 {
  margin-top: 26px;
}
.sample__item:nth-child(2)::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  z-index: 2;
  left: 6px;
  top: 81px;
}
.sample__item:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #68b738;
  width: 60px;
  height: 60px;
  top: 78px;
  left: 0;
}
.sample__item:nth-child(3)::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 42px;
  z-index: 2;
  left: 4px;
  top: 162px;
}
.sample__item:nth-child(3)::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #68b738;
  width: 60px;
  height: 60px;
  top: 157px;
  left: 0;
}
.sample__item:nth-child(4)::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 42px;
  z-index: 2;
  left: 4px;
  top: 242px;
}
.sample__item:nth-child(4)::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #68b738;
  width: 60px;
  height: 60px;
  top: 237px;
  left: 0;
}
@media (min-width: 768px) {
  .sample {
    margin-top: 45px;
    min-height: 626px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 61px;
  }
  .sample__container {
    width: 708px;
    padding: 0 30px;
  }
  .sample__title {
    font-size: 60px;
    line-height: 60px;
  }
  .sample__list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .sample__item {
    font-size: 16px;
    line-height: 24px;
    margin-top: 145px;
    margin-left: 0px;
    padding-right: 89px;
  }
  .sample__item--block-2 {
    margin-top: 145px;
    margin-left: 30px;
  }
  .sample__item--block-3 {
    margin-top: 182px;
  }
  .sample__item--block-4 {
    margin-top: 182px;
    margin-left: 30px;
    padding-right: 78px;
  }
  .sample__item:nth-child(1)::before {
    content: "";
    width: 40px;
    height: 42px;
    left: 15px;
    top: 48px;
  }
  .sample__item:nth-child(1)::after {
    content: "";
    width: 80px;
    height: 80px;
    top: 32px;
    left: 0;
  }
  .sample__item:nth-child(2)::before {
    content: "";
    width: 40px;
    height: 42px;
    z-index: 2;
    left: 399px;
    top: 47px;
  }
  .sample__item:nth-child(2)::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #68b738;
    width: 80px;
    height: 80px;
    top: 31px;
    left: 384px;
  }
  .sample__item:nth-child(3)::before {
    content: "";
    width: 40px;
    height: 42px;
    left: 15px;
    top: 364px;
  }
  .sample__item:nth-child(3)::after {
    content: "";
    width: 80px;
    height: 80px;
    top: 350px;
    left: 0;
  }
  .sample__item:nth-child(4)::before {
    content: "";
    width: 40px;
    height: 42px;
    left: 399px;
    top: 364px;
  }
  .sample__item:nth-child(4)::after {
    content: "";
    width: 80px;
    height: 80px;
    top: 349px;
    left: 384px;
  }
  .sample__number {
    display: block;
  }
  .sample__number {
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    font-family: "Oswald", "Verdana", sans-serif;
    top: -9px;
    left: 118px;
    color: #F2F2F2;
    z-index: -1;
  }
  .sample__number-two {
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    font-family: "Oswald", "Verdana", sans-serif;
    color: #F2F2F2;
    z-index: -1;
    top: -7px;
    left: 495px;
  }
  .sample__number-three {
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    font-family: "Oswald", "Verdana", sans-serif;
    color: #F2F2F2;
    z-index: -1;
    top: 309px;
    left: 114px;
  }
  .sample__number-four {
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    font-family: "Oswald", "Verdana", sans-serif;
    color: #F2F2F2;
    z-index: -1;
    top: 309px;
    left: 498px;
  }
}
@media (min-width: 1200px) {
  .sample {
    margin-top: 73px;
    min-height: 362px;
    border-bottom: 0;
    padding-bottom: 35px;
  }
  .sample__container {
    padding: 0 110px;
    width: 1220px;
  }
  .sample__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .sample__item:nth-child(2)::before {
    content: "";
    left: 341px;
  }
  .sample__item:nth-child(2)::after {
    content: "";
    left: 324px;
  }
  .sample__item--block-2 {
    margin-left: 18px;
    padding-right: 65px;
  }
  .sample__number-two {
    left: 438px;
  }
  .sample__item:nth-child(3)::before {
    content: "";
    left: 665px;
    top: 47px;
  }
  .sample__item:nth-child(3)::after {
    content: "";
    width: 80px;
    height: 80px;
    top: 31px;
    left: 650px;
  }
  .sample__item--block-3 {
    margin-top: 143px;
    margin-left: 39px;
    padding-right: 62px;
  }
  .sample__number-three {
    top: -10px;
    left: 762px;
  }
  .sample__item:nth-child(4)::before {
    content: "";
    left: 990px;
    top: 46px;
  }
  .sample__item:nth-child(4)::after {
    content: "";
    top: 31px;
    left: 975px;
  }
  .sample__item--block-4 {
    margin-top: 143px;
    margin-left: 59px;
    padding-right: 0;
  }
  .sample__number-four {
    top: -8px;
    left: 1087px;
  }
}
.page-footer {
  background-color: #F2F2F2;
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  padding: 20px;
  margin-top: 28px;
}
.page-footer--form {
  margin-top: 0;
}
.page-footer--catalog {
  margin-top: 0;
}
.page-footer__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 31px;
  margin-top: 18px;
}
.page-footer__wrapper--catalog {
  margin-top: 19px;
}
@media (min-width: 768px) {
  .page-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-top: 0;
    box-sizing: border-box;
    min-height: 150px;
  }
  .page-footer__wrapper {
    display: flex;
    align-items: baseline;
    margin-top: 7px;
    justify-content: flex-start;
    margin-bottom: 0;
  }
  .page-footer__logo {
    margin-left: 10px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding-top: 20px;
    box-sizing: border-box;
  }
  .page-footer__wrapper {
    justify-content: flex-start;
  }
  .page-footer__logo {
    margin-left: 90px;
  }
}
.page-catalog {
  margin: 0;
}
.page-catalog__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding-left: 20px;
  margin-top: 16px;
  padding-bottom: 26px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .page-catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
    margin-top: 32px;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .page-catalog {
    width: 1440px;
  }
  .page-catalog__title {
    padding-left: 110px;
    width: 440px;
    margin-top: 70px;
  }
}
.catalog {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.catalog__box::after {
  content: "";
  display: block;
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #e6e6e6;
  left: 0;
}
.catalog__wrapper {
  display: flex;
  align-items: center;
}
.catalog__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
}
.catalog__link img {
  margin-top: 3px;
}
.catalog__link--picture img {
  margin-top: 18px;
}
.catalog__wrapper-link {
  padding-right: 40px;
  margin-bottom: 5px;
  margin-top: -4px;
}
.catalog__table {
  width: 100%;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.catalog__wrapper-link--title {
  margin-top: 7px;
}
.catalog__row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.catalog__column {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.catalog__btn-wrapper {
  width: 280px;
  height: 40px;
  margin: 0 auto;
  background-color: #68b738;
  text-align: center;
  margin-bottom: 25px;
  padding: 7px 0;
  box-sizing: border-box;
  margin-top: 11px;
}
.catalog__btn-wrapper--two {
  margin-top: 8px;
}
.catalog__link--fish img {
  margin-right: 36px;
  margin-top: 46px;
  margin-left: 36px;
}
.catalog__container--fish {
  margin-top: 30px;
  width: 140px;
}
.catalog__wrapper-link--fish {
  padding-right: 67px;
  margin-top: -17px;
  margin-bottom: 7px;
}
.catalog__btn-wrapper--fish {
  margin-top: 16px;
}
.catalog__link--fish-big img {
  margin-left: 28px;
  margin-top: 28px;
  margin-right: 26px;
}
.catalog__row--fish-big {
  margin-top: -2px;
  margin-right: -4px;
}
.catalog__wrapper-link--fish-big {
  margin-top: 11px;
  padding-right: 42px;
  padding-left: 2px;
}
.catalog__btn {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}
.catalog__btn-wrapper--buckwheat-small {
  margin-top: -9px;
}
.catalog__link--buckwheat-small img {
  margin-top: 27px;
  margin-left: 36px;
}
.catalog__container--buckwheat-small {
  box-sizing: border-box;
  padding-left: 36px;
  padding-top: 17px;
  margin-bottom: 28px;
}
.catalog__link--buckwheat-big img {
  margin-top: 30px;
  margin-left: 27px;
}
.catalog__container--buckwheat-big {
  margin-left: 29px;
  margin-top: 13px;
  padding-bottom: 4px;
}
.catalog__btn-wrapper--buckwheat-big {
  margin-top: 9px;
}
.catalog__link--rice-small img {
  margin-top: 42px;
  margin-left: 34px;
}
.catalog__container--rice-small {
  margin-left: 33px;
  margin-top: 19px;
}
@media (min-width: 768px) {
  .catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content min-content min-content;
    width: 708px;
    padding: 0 30px;
    grid-gap: 60px;
    margin-top: 136px;
  }
  .catalog__box {
    background-color: #F2F2F2;
    margin-bottom: 78px;
    height: 433px;
    box-sizing: border-box;
  }
  .catalog__box::after {
    display: none;
  }
  .catalog__container {
    padding: 0 37px;
  }
  .catalog__wrapper {
    flex-direction: column;
  }
  .catalog__link {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .catalog__link span {
    margin-left: 44px;
  }
  .catalog__wrapper-link {
    padding: 0;
    margin-bottom: 15px;
    padding: 0 62px;
  }
  .catalog__img img {
    margin-top: -72px;
    margin-bottom: 36px;
  }
  .catalog__img--big img {
    margin-bottom: 17px;
  }
  .catalog__link--big span {
    margin-left: 41px;
  }
  .catalog__row {
    display: flex;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid #CDCDCD;
  }
  .catalog__column {
    font-size: 16px;
    line-height: 16px;
  }
  .catalog__show {
    background-color: #ffffff;
  }
  .catalog__btn-wrapper {
    width: 249px;
    margin-top: 23px;
    margin-bottom: 37px;
  }
  .catalog__link--fish img {
    margin-bottom: 18px;
  }
  .catalog__container--fish {
    margin-top: 30px;
    width: 250px;
  }
  .catalog__wrapper-link--fish {
    padding-left: 64px;
    padding-right: 60px;
  }
  .catalog__link--fish-big img {
    margin: 28px 26px 20px 28px;
  }
  .catalog__wrapper-link--fish-big {
    padding-right: 61px;
    padding-left: 63px;
  }
  .catalog__link--fish-big img {
    margin-top: -73px;
  }
  .catalog__link--fish-big span {
    margin-left: 41px;
  }
  .catalog__link--buckwheat-small img {
    margin-left: 0;
  }
  .catalog__wrapper-link--buckwheat-small {
    padding-right: 58px;
  }
  .catalog__row--buckwheat-small {
    padding-bottom: 5px;
  }
  .catalog__btn-wrapper--buckwheat-small {
    margin-top: 0;
  }
  .catalog__row--border {
    margin-bottom: 3px;
  }
  .catalog__link--buckwheat-big img {
    margin-left: 0;
    margin-bottom: 22px;
  }
  .catalog__wrapper-link--buckwheat-big {
    padding-left: 63px;
    padding-right: 58px;
  }
  .catalog__container--buckwheat-big {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 35px;
    margin-right: 34px;
  }
  .catalog__link--rice-small img {
    margin-left: 0;
    margin-bottom: 17px;
  }
  .catalog__wrapper-link--rice-small {
    padding-left: 64px;
    padding-right: 59px;
  }
  .catalog__link--rice-small span {
    margin-left: 46px;
  }
  .catalog__container--rice-small {
    padding-left: 0;
    padding-right: 0;
    margin-right: 34px;
  }
}
@media (min-width: 1200px) {
  .catalog {
    padding: 0 110px;
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
    grid-gap: 80px;
    width: 1220px;
  }
  .catalog__btn-wrapper {
    width: 170px;
    margin-bottom: 0;
  }
  .catalog__img img {
    margin-top: -49px;
    margin-bottom: 42px;
  }
  .catalog__wrapper-link {
    padding-left: 23px;
    padding-right: 22px;
  }
  .catalog__link--picture img {
    margin-top: -76px;
    margin-bottom: 21px;
  }
  .catalog__link--fish img {
    margin-top: -50px;
    margin-bottom: 23px;
  }
  .catalog__container--fish {
    width: 245px;
    box-sizing: border-box;
  }
  .catalog__wrapper-link--fish {
    padding-left: 23px;
    padding-right: 19px;
  }
  .catalog__link--fish-big img {
    margin-top: -79px;
    margin-bottom: 22px;
  }
  .catalog__link--buckwheat-small img {
    margin-top: -66px;
  }
  .catalog__wrapper-link--buckwheat-small {
    padding-right: 18px;
    padding-left: 23px;
  }
  .catalog__link--buckwheat-big img {
    margin-top: -94px;
    margin-bottom: 20px;
  }
  .catalog__link--rice-small img {
    margin-top: -68px;
    margin-bottom: 23px;
  }
}
.show-products {
  margin-top: 106px;
  position: relative;
}
.show-products::after {
  content: "";
  display: block;
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #e6e6e6;
  top: 128px;
  left: -20px;
}
.show-products__box::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: -54px;
  left: 125px;
}
.show-products__title {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 9px;
  margin-top: 103px;
}
.show-products__text {
  font-size: 12px;
  text-align: center;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;
  margin-top: 9px;
  margin-bottom: 22px;
}
.show-products__wrapper {
  width: 280px;
  height: 40px;
  background-color: #F2F2F2;
  margin-bottom: 8px;
  text-align: center;
  box-sizing: border-box;
  padding: 7px 0;
}
.show-products__btn {
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
}
@media (min-width: 768px) {
  .show-products {
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    margin-top: 0;
    height: 432px;
  }
  .show-products__box::before {
    content: "";
    background-image: url("../../img/icon-plus.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    top: 53px;
    left: 133px;
  }
  .show-products__title {
    font-size: 20px;
    line-height: 20px;
    margin-top: 162px;
    padding-left: 76px;
    padding-right: 76px;
    margin-bottom: 26px;
  }
  .show-products__text {
    font-size: 16px;
    width: auto;
    padding: 0 54px;
    margin-bottom: 85px;
  }
  .show-products::after {
    content: "";
    display: none;
  }
  .show-products__wrapper {
    width: 249px;
    margin-left: 38px;
    padding-top: 9px;
  }
}
@media (min-width: 1200px) {
  .show-products__box::before {
    content: "";
    top: 38px;
    left: 91px;
  }
  .show-products__title {
    padding-left: 54px;
    padding-right: 55px;
    margin-top: 147px;
  }
  .show-products__text {
    padding-left: 17px;
    padding-right: 17px;
  }
  .show-products__wrapper {
    margin-left: 37px;
    width: 169px;
  }
}
.site-list__item {
  text-align: center;
  width: 320px;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e6e6e6;
}
.site-list__item:nth-child(3) {
  border-bottom: 1px solid #e6e6e6;
}
.site-list__link {
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  font-size: 20px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .site-list__item {
    width: auto;
    border-top: none;
  }
  .site-list__item:nth-child(3) {
    border-bottom: none;
  }
  .site-list__link {
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
  }
}
@media (min-width: 1200px) {
  .site-list__item {
    border-top: 0;
  }
  .site-list__link {
    font-size: 20px;
    line-height: 25px;
  }
  .site-list__link--color {
    color: #ffffff;
  }
  .site-list__link--black-color {
    color: #000000;
  }
}
.socials {
  margin-bottom: 0;
}
.socials__list {
  list-style: none;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.socials__link img {
  margin: 0 18px;
}
@media (min-width: 768px) {
  .socials {
    margin-top: 6px;
  }
  .socials__list {
    margin-top: 16px;
  }
  .socials__list {
    border: none;
  }
}
.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
}
.copyright__link {
  text-decoration: none;
  color: #444444;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}
@media (min-width: 768px) {
  .copyright {
    justify-content: flex-end;
  }
  .copyright__link {
    margin-right: 22px;
  }
  .copyright__link-logo {
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .copyright {
    justify-content: flex-end;
  }
  .copyright__link {
    margin-right: 6px;
  }
  .copyright__link-logo {
    margin-right: 90px;
    margin-left: 17px;
  }
}
.result {
  background-color: #F2F2F2;
  padding-bottom: 0;
  position: relative;
  margin-top: 47px;
  min-height: 705px;
  margin-bottom: 2px;
}
.result__container {
  width: 280px;
  padding: 0 20px;
}
.result__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding-top: 18px;
  margin-bottom: 22px;
}
.result__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-right: 14px;
}
.result__list {
  display: grid;
  grid-template-columns: 124px 124px;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  text-align: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.result__term {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid #CDCDCD;
  padding-top: 14px;
  margin-top: 8px;
  padding-bottom: 19px;
}
.result__description {
  color: #444444;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.result__weight {
  grid-row-start: 2;
  width: 74px;
  margin-left: 23px;
  margin-top: -19px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
.result__time {
  margin-top: -19px;
  width: 80px;
  margin-left: 22px;
  background-color: #f2f2f2;
}
.result__total {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 47px;
  margin-top: 18px;
  margin-bottom: 32px;
}
.result__banner {
  width: 311px;
  height: 232px;
  margin-left: -20px;
}
.result__picture {
  display: none;
}
.result__filter {
  margin-top: 42px;
  position: relative;
}
.result__filter-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.result__text-btn {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  outline: 0;
  font-family: "Oswald", "Verdana", sans-serif;
  padding: 0;
}
.filter--before {
  margin-right: 19px;
  margin-left: 7px;
}
.filter--after {
  margin-left: 17px;
}
.result__btn {
  cursor: pointer;
  border: 0;
  outline: 0;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  display: block;
  border-radius: 3px;
  position: absolute;
  top: 7px;
  left: 105px;
}
.result__range {
  width: 84px;
  height: 14px;
  display: block;
  background-color: #ffffff;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .result {
    background-color: transparent;
    margin-top: 43px;
    height: auto;
  }
  .result__container {
    padding: 0 30px;
    width: 708px;
  }
  .result__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 64px;
  }
  .result__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 29px;
  }
  .result__wrapper {
    display: flex;
    justify-content: space-between;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
  }
  .result__list {
    -moz-column-gap: 41px;
         column-gap: 41px;
  }
  .result__term {
    font-size: 30px;
    line-height: 37px;
  }
  .result__description {
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    background-color: transparent;
    width: auto;
    margin-left: 0;
  }
  .result__list {
    grid-template-columns: 162px 162px;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
  }
  .result__total {
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    text-align: end;
    padding: 0;
    margin-top: 36px;
  }
  .result__total span {
    display: block;
    margin-top: 9px;
  }
  .result__pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 58px;
    position: relative;
  }
  .result__pictures-wrapper {
    display: flex;
  }
  .result__pictures::before {
    content: "";
    position: absolute;
    display: block;
    height: 462px;
    width: 768px;
    background-color: #eaeaea;
    z-index: -2;
    bottom: -73px;
    left: -30px;
  }
  .result__banner {
    background-color: transparent;
    margin-top: 2px;
    width: 372px;
    height: 511px;
    overflow: hidden;
    margin-left: 16px;
    box-sizing: border-box;
  }
  .result__picture {
    display: flex;
    width: 386px;
    height: 517px;
    overflow: hidden;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-right: 3px;
    margin-top: 2px;
  }
  .result__filter {
    margin-top: 20px;
  }
  .result__filter-wrapper {
    align-items: center;
  }
  .result__range {
    width: 428px;
    height: 6px;
    display: block;
    background-color: #CDCDCD;
    border-radius: 2.5px;
  }
  .result__text-btn {
    font-size: 20px;
  }
  .result__btn {
    width: 34px;
    height: 34px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #cdcdcd;
    background-color: #ffffff;
    border-radius: 50%;
    top: -6px;
    left: 337px;
  }
  .result__btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border-radius: 50%;
    top: 12px;
    left: 12px;
  }
  .filter--before {
    margin-right: 27px;
    margin-left: 0px;
  }
}
@media (min-width: 1200px) {
  .result {
    position: relative;
    min-height: 462px;
    margin-bottom: 0;
  }
  .result::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #F2F2F2;
    height: 462px;
    width: 100%;
    top: 0;
    z-index: -1;
    top: 136px;
  }
  .result__container {
    padding: 0 110px;
    width: 1220px;
    position: relative;
  }
  .result__title {
    margin-bottom: 147px;
  }
  .result__text {
    width: 435px;
    margin-bottom: 44px;
  }
  .result__wrapper {
    flex-direction: column;
  }
  .result__total {
    min-width: 327px;
    margin-bottom: 45px;
    display: flex;
    margin-top: 26px;
    justify-content: space-between;
    align-items: baseline;
  }
  .result__total span {
    margin-left: 0;
  }
  .result__banner {
    background-color: transparent;
    margin-left: 9px;
    width: 365px;
  }
  .result__picture {
    width: 326px;
  }
  .result__pictures {
    display: flex;
    justify-content: center;
    margin-top: 58px;
    position: absolute;
    top: -113px;
    left: 671px;
  }
  .result__pictures::before {
    content: "";
    display: none;
  }
  .result__filter {
    margin-top: 40px;
  }
  .filter--before {
    margin-right: 29px;
    margin-left: 43px;
  }
  .result__btn {
    left: 358px;
  }
}
.contacts-map {
  position: relative;
}
.contacts-map__wrapper {
  margin-top: 0;
  min-height: 114px;
}
.contacts-map__container {
  padding: 13px 20px;
  width: 280px;
  display: flex;
}
.contacts-map__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 124px;
  margin-right: 20px;
  margin-top: 13px;
}
.contacts-map__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin-bottom: 0;
}
.contacts__wrapper {
  background-color: #F2F2F2;
}
@media (min-width: 768px) {
  .contacts-map {
    margin-top: 75px;
  }
  .contacts-map__wrapper {
    margin-top: 12px;
    margin-bottom: 0;
  }
  .contacts-map__container {
    padding: 20px 30px;
    width: 708px;
    justify-content: space-between;
    height: 161px;
  }
  .contacts-map__title {
    font-size: 20px;
    line-height: 25px;
    margin-right: 0;
    margin-left: 42px;
    width: 155px;
    height: auto;
    margin-top: 45px;
  }
  .contacts-map__text {
    font-size: 16px;
    line-height: 20px;
    margin-right: 41px;
    text-align: right;
    margin-top: 43px;
  }
  .contacts-map__text span {
    display: block;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .contacts-map {
    margin-top: 28px;
  }
  .contacts-map__wrapper {
    width: 570px;
    height: 201px;
    background-color: #ffffff;
    box-sizing: border-box;
    position: absolute;
    left: 110px;
    top: 84px;
  }
  .contacts-map__container {
    width: auto;
    padding: 20px;
    box-sizing: border-box;
  }
  .contacts-map__title {
    margin-top: 45px;
    margin-left: 56px;
  }
  .contacts-map__text {
    margin-top: 42px;
    margin-right: 69px;
    text-align: left;
  }
  .contacts__wrapper {
    background-color: #ffffff;
  }
}
.map {
  height: 331px;
}
.map__catalog {
  height: 362px;
}
.map__img {
  background-image: url("../img/bg-map-mobile@1x.png"), url("../img/bg-map-mobile@2x.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
}
@media (min-width: 768px) {
  .map {
    height: 400px;
  }
  .map__img {
    background-image: url("../../img/bg-map-tablet@1x.png");
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .map__img {
    background-image: url("../../img/bg-map-desktop@1x.png");
  }
}
.goods {
  margin-top: 52px;
  position: relative;
}
.goods__container {
  width: 280px;
  padding: 0 20px;
}
.goods__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 34px;
}
.goods__list {
  list-style: none;
  padding: 0;
}
.goods__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 53px;
  height: 3px;
  background-color: #68b738;
  right: 0;
  top: 14px;
}
.goods__item {
  border-top: 1px solid #e6e6e6;
}
.goods__item:nth-child(4) {
  border-bottom: 1px solid #e6e6e6;
}
.goods__subtitle {
  font-size: 16px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 9px;
  margin-top: 9px;
}
.subtitle {
  margin-top: 6px;
}
.goods__wrapper {
  display: flex;
  justify-content: space-between;
}
.goods__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
.goods__number {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
.goods__btn-wrapper {
  width: 280px;
  height: 40px;
  margin: 0 auto;
  background-color: #68b738;
  text-align: center;
  padding: 7px 0;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 19px;
}
.wrapper-btn {
  margin-top: 12px;
}
.wrapper-button {
  margin-bottom: 17px;
}
.goods__link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .goods__container {
    padding: 0 30px;
    width: 708px;
  }
  .goods {
    margin-top: -13px;
  }
  .goods__title {
    padding-left: 37px;
    top: 19px;
    width: 338px;
    padding-right: 35px;
    background-color: #ffffff;
    margin-bottom: 81px;
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
  }
  .goods__title::after {
    display: none;
  }
  .goods__title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 22px;
    width: 767px;
    height: 3px;
    background-color: #68b738;
    z-index: -1;
  }
  .goods__item {
    display: flex;
    flex-direction: column;
    border: 1px solid #e6e6e6;
  }
  .goods__box {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    margin-top: 17px;
  }
  .container-box {
    margin-top: 20px;
  }
  .goods__subtitle {
    margin-left: 5px;
  }
  .subtitle-milk {
    margin-top: 7px;
  }
  .goods__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
  }
  .goods__subtitle {
    font-size: 20px;
    line-height: 20px;
  }
  .goods__text {
    font-size: 16px;
    line-height: 20px;
  }
  .goods__number {
    font-size: 16px;
    line-height: 20px;
    margin-left: 52px;
    margin-right: 3px;
  }
  .number-water {
    margin-left: 60px;
  }
  .goods__btn-wrapper {
    width: 633px;
    margin-bottom: 27px;
  }
  .wrapper-btn {
    margin-bottom: 27px;
    margin-top: 16px;
  }
}
@media (min-width: 1200px) {
  .goods {
    margin-top: -19px;
    margin-bottom: 10px;
  }
  .goods__container {
    padding: 0 110px;
    width: 1220px;
  }
  .goods__case {
    display: flex;
  }
  .goods__box {
    margin-top: 0;
  }
  .goods__title {
    padding: 0;
    margin-bottom: 75px;
    width: 373px;
  }
  .goods__subtitle {
    margin-left: 0;
  }
  .goods__text {
    margin-right: 58px;
  }
  .goods__title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 22px;
    width: 1440px;
    height: 3px;
    background-color: #68b738;
    z-index: -1;
  }
  .goods__list {
    display: flex;
    flex-direction: column;
    width: 896px;
    margin-top: 6px;
  }
  .goods__item {
    padding: 0;
    width: auto;
    height: 70px;
    display: flex;
    flex-direction: row;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
  .goods__btn-wrapper {
    width: 359px;
    margin-left: 40px;
    margin-right: 0;
    margin-top: 22px;
    margin-bottom: 25px;
    box-sizing: border-box;
  }
  .number-water {
    margin-left: 126px;
  }
  .number-milk {
    margin-left: 135px;
  }
  .number-vitamins {
    margin-left: 61px;
  }
}
.present {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #68b738;
  width: 280px;
  height: 289px;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-top: 39px;
}
.present__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: 289px;
}
.present__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 159px;
  color: #ffffff;
  margin-top: 55px;
}
@media (min-width: 768px) {
  .present {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    width: 708px;
    height: 200px;
    background-size: cover;
    margin-top: 70px;
    margin-bottom: 75px;
  }
  .present__text {
    text-align: left;
    margin-top: 20px;
    margin-right: 11px;
  }
  .present__container {
    flex-direction: row;
    height: 200px;
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .present {
    width: 245px;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    display: flex;
    margin-top: 6px;
    margin-left: 78px;
  }
  .present__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 289px;
    width: 245px;
  }
  .present__text {
    text-align: center;
    margin-left: 21px;
    margin-top: 51px;
  }
}
.form__container {
  padding: 0 20px;
  width: 280px;
  margin-bottom: 30px;
}
.form__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 0;
}
.form__subtitle {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  padding-right: 54px;
  margin-bottom: 39px;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .form__container {
    padding: 0 30px;
    width: 708px;
  }
  .form__title {
    font-size: 60px;
    margin-top: 32px;
  }
  .form__subtitle {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 345px;
    line-height: 30px;
    margin-bottom: 64px;
    margin-top: 54px;
  }
}
@media (min-width: 1200px) {
  .form__container {
    padding: 0 110px;
    width: 1220px;
  }
  .form__title {
    margin-top: 68px;
  }
  .form__subtitle {
    padding-left: 0;
    width: 323px;
    margin-top: 57px;
    margin-bottom: 39px;
  }
}
.search-form {
  position: relative;
}
.search-form__wrapper {
  display: flex;
  flex-direction: column;
}
.search-form__label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 11px;
}
.search-form__input {
  text-transform: uppercase;
  color: #444444;
  line-height: 18px;
  padding: 13px 13px 11px 13px;
  margin-left: 11px;
  width: 197px;
  font-family: "Oswald", "Verdana", sans-serif;
  font-size: 16px;
}
.search-form--weight {
  width: 175px;
  margin-left: 18px;
}
.search-form--age {
  width: 142px;
}
.search-form__btn {
  width: 280px;
  height: 40px;
  border: 0;
  background-color: #68b738;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Verdana", sans-serif;
}
.search-form__help {
  font-size: 14px;
  color: #444444;
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;
  margin-left: 62px;
}
@media (min-width: 768px) {
  .search-form {
    margin-bottom: 55px;
  }
  .search-form__wrapper {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    padding-right: 37px;
  }
  .search-form__label {
    font-size: 20px;
    line-height: 20px;
    padding-left: 42px;
  }
  .search-form__input {
    font-size: 20px;
    line-height: 20px;
    width: 534px;
    margin-bottom: 7px;
    margin-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .search-form--weight {
    width: 508px;
    margin-left: 19px;
    padding-left: 19px;
    padding-right: 7px;
  }
  .search-form--age {
    width: 465px;
  }
  .search-form__btn {
    margin-left: 42px;
    font-size: 20px;
    line-height: 20px;
    margin-right: 61px;
    height: 52px;
  }
  .search-form__help {
    font-size: 16px;
    line-height: 16px;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .search-form {
    margin-bottom: 67px;
  }
  .search-form__container {
    display: flex;
    align-items: center;
    height: 255px;
  }
  .search-form__wrapper {
    padding: 0;
    width: 50%;
  }
  .search-form__label {
    padding-left: 0;
    margin-bottom: 0;
  }
  .search-form__input {
    width: 476px;
    padding-left: 17px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 13px;
    margin-top: 4px;
    padding-bottom: 10px;
  }
  .search-form--weight {
    width: 445px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-left: 22px;
    margin-bottom: 10px;
  }
  .search-form--age {
    width: 408px;
    padding-bottom: 9px;
  }
  .search-form__btn {
    margin-left: 0;
    margin-top: 58px;
    width: 568px;
  }
  .search-form__help {
    font-size: 16px;
    line-height: 16px;
  }
}
.radio-form {
  display: flex;
  flex-direction: column;
  margin-top: 43px;
  position: relative;
}
.radio-form::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #e6e6e6;
  width: 320px;
  height: 1px;
  top: -28px;
  left: -20px;
}
.radio-form::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #e6e6e6;
  width: 320px;
  height: 1px;
  top: 129px;
  left: -20px;
}
.radio-form__inner {
  text-transform: uppercase;
  line-height: 18px;
  position: relative;
  margin-bottom: 25px;
  padding-left: 45px;
}
.radio-form__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  font-family: inherit;
}
.radio-form__inner::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
  left: 0;
  top: -8px;
}
.radio-form__input:checked + .radio-form__inner::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #68b738;
  position: absolute;
  border-radius: 50%;
  left: 10px;
  top: 2px;
}
@media (min-width: 768px) {
  .radio-form {
    margin-top: 52px;
    padding-top: 35px;
    padding-left: 26px;
    margin-left: 41px;
    margin-right: 37px;
    border: 1px solid #e6e6e6;
  }
  .radio-form__inner {
    font-size: 20px;
    line-height: 20px;
    padding-left: 60px;
    margin-bottom: 33px;
  }
  .radio-form::before {
    content: "";
    display: none;
  }
  .radio-form::after {
    content: "";
    display: none;
  }
  .radio-form__inner::before {
    content: "";
    width: 40px;
    height: 40px;
    top: -11px;
  }
  .radio-form__input:checked + .radio-form__inner::after {
    content: "";
    width: 18px;
    height: 18px;
    left: 12px;
    top: 1px;
  }
}
@media (min-width: 1200px) {
  .radio-form {
    margin-right: 0px;
    margin-left: 38px;
    width: 572px;
    padding-top: 36px;
    padding-left: 28px;
    margin-top: 0;
    height: 198px;
    padding-bottom: 29px;
    box-sizing: border-box;
    margin-bottom: 8px;
  }
  .radio-form__inner {
    margin-bottom: 33px;
  }
}
.form-contacts {
  margin-top: 29px;
  position: relative;
}
.form-contacts__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 35px;
}
.form-contacts__wrapper {
  position: relative;
}
.form-contacts__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 99px;
  height: 2px;
  background-color: #68b738;
  top: 14px;
  right: -20px;
}
.form-contacts__label {
  text-transform: uppercase;
  color: #222222;
}
.form-contacts__input {
  text-transform: uppercase;
  line-height: 18px;
  color: #444444;
  margin-left: 15px;
  padding: 13px;
  margin-bottom: 14px;
  font-family: "Oswald", "Verdana", sans-serif;
  font-size: 16px;
}
.form-contacts--email {
  width: 189px;
  margin-left: 7px;
  height: 17px;
  padding-top: 10px;
  padding-bottom: 12px;
}
.form-contacts__email::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 14px;
  right: 16px;
  top: 15px;
}
.form-contacts__tel::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  top: 71px;
  right: 12px;
}
.form-contacts--tel {
  margin-left: 6px;
  width: 173px;
  padding-top: 12px;
}
@media (min-width: 768px) {
  .form-contacts {
    padding-right: 37px;
  }
  .form-contacts__title {
    font-size: 36px;
    list-style: 36px;
    margin-top: 81px;
    padding-left: 39px;
    background-color: #ffffff;
    width: 512px;
    padding-right: 39px;
    margin-bottom: 82px;
  }
  .form-contacts__title::after {
    content: "";
    display: block;
    width: 763px;
    top: 16px;
    right: -28px;
    z-index: -1;
  }
  .form-contacts__label {
    padding-left: 41px;
    font-size: 20px;
    line-height: 20px;
  }
  .form-contacts__input {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 21px;
  }
  .form-contacts--email {
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 19px;
    margin-left: 14px;
    width: 507px;
    padding-right: 19px;
    top: 17px;
  }
  .form-contacts__email::after {
    content: "";
    display: block;
    top: 18px;
  }
  .form-contacts__tel::after {
    content: "";
    display: block;
    position: absolute;
    top: 87px;
    right: 15px;
  }
  .form-contacts--tel {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 11px;
    padding-left: 18px;
    width: 498px;
    top: 78px;
  }
  .form-contacts__tel {
    padding-left: 39px;
  }
}
@media (min-width: 1200px) {
  .form-contacts {
    padding-right: 0;
    width: 100%;
  }
  .form-contacts__title {
    padding: 0;
    margin-top: 43px;
  }
  .form-contacts__wrapper {
    width: 100%;
    display: flex;
  }
  .form-contacts__label {
    padding-left: 0;
    width: 50%;
  }
  .form-contacts__input {
    width: 70%;
  }
  .form-contacts__title::before {
    content: "";
    display: block;
    position: absolute;
    width: 68px;
    height: 2px;
    top: 16px;
    left: -108px;
    background-color: #68b738;
  }
  .form-contacts__title::after {
    content: "";
    display: block;
    width: 774px;
    top: 16px;
    right: -108px;
  }
  .form-contacts__email {
    margin-left: 3px;
  }
  .form-contacts--email {
    width: 446px;
  }
  .form-contacts__email::after {
    content: "";
    display: block;
    right: 0;
    top: 18px;
    left: 533px;
  }
  .form-contacts__tel {
    margin-left: 74px;
  }
  .form-contacts--tel {
    width: 437px;
  }
  .form-contacts__tel::after {
    content: "";
    display: block;
    top: 14px;
  }
}
.form-comment {
  margin-top: 13px;
  position: relative;
}
.form-comment__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 34px;
  margin-top: 0;
}
.form-comment__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 158px;
  height: 2px;
  background-color: #68b738;
  top: 14px;
  right: -20px;
}
.form-comment__text {
  text-transform: uppercase;
  line-height: 18px;
  color: #444444;
  width: 254px;
  height: 123px;
  font-size: 16px;
  font-family: "Oswald", "Verdana", sans-serif;
  padding: 13px;
  text-align: center;
  border: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .form-comment {
    margin-top: 50px;
  }
  .form-comment__title {
    font-size: 36px;
    list-style: 36px;
    margin-bottom: 80px;
    padding-left: 40px;
    padding-right: 42px;
    width: 177px;
    background-color: #ffffff;
  }
  .form-comment__title::after {
    content: "";
    display: block;
    width: 765px;
    top: 14px;
    right: -29px;
    z-index: -1;
  }
  .form-comment__text {
    width: 602px;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    margin-left: 40px;
    padding-top: 10px;
    padding-left: 17px;
    padding-right: 11px;
    height: 149px;
  }
}
@media (min-width: 1200px) {
  .form-comment {
    padding: 0;
    margin-top: 50px;
  }
  .form-comment__text {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    min-height: 174px;
  }
  .form-comment__title {
    padding-left: 0;
    margin-bottom: 82px;
  }
  .form-comment__title::before {
    content: "";
    display: block;
    position: absolute;
    width: 68px;
    height: 2px;
    top: 17px;
    left: -108px;
    background-color: #68b738;
  }
  .form-comment__title::after {
    content: "";
    display: block;
    width: 1103px;
    top: 17px;
    right: -109px;
  }
}
.checkbox-form__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
}
.checkbox-form__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 38px;
  position: relative;
}
.checkbox-form__title:after {
  content: "";
  display: block;
  position: absolute;
  width: 136px;
  height: 2px;
  background-color: #68b738;
  top: 12px;
  right: -20px;
}
.checkbox-form__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  font-family: inherit;
}
.checkbox-form__inner {
  text-transform: uppercase;
  line-height: 18px;
  color: #222222;
  padding-left: 46px;
  position: relative;
  margin-bottom: 25px;
}
.checkbox-form__checkbox-switching {
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;
  position: absolute;
  left: 0;
  top: -6px;
}
.checkbox-form__input:checked + .checkbox-form__checkbox-switching {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  left: 0;
  top: -6px;
}
@media (min-width: 768px) {
  .checkbox-form__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 45px;
    grid-column-gap: 21px;
    margin-bottom: 12px;
  }
  .checkbox-form__title {
    margin-top: 61px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 64px;
    background-color: #ffffff;
    width: 214px;
    padding: 0 40px;
  }
  .checkbox-form__inner {
    font-size: 20px;
    line-height: 20px;
    padding-left: 57px;
    margin-bottom: 53px;
  }
  .checkbox-form__title:after {
    content: "";
    display: block;
    width: 765px;
    top: 21px;
    right: 0;
    left: -28px;
    z-index: -1;
  }
  .checkbox-form__checkbox-switching {
    width: 38px;
    height: 38px;
    left: -4px;
    top: -8px;
  }
  .checkbox-form__input:checked + .checkbox-form__checkbox-switching {
    content: "";
    width: 38px;
    height: 38px;
    left: -4px;
    top: -8px;
  }
}
@media (min-width: 1200px) {
  .checkbox-form {
    padding: 0;
  }
  .checkbox-form__wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    margin-left: 0;
    grid-column-gap: 80px;
  }
  .checkbox-form__title {
    padding-left: 0;
    margin-bottom: 66px;
  }
  .checkbox-form__title::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    top: 23px;
    left: -108px;
    background-color: #68b738;
  }
  .checkbox-form__title::after {
    content: "";
    display: block;
    width: 1103px;
    top: 24px;
    right: 0;
    left: 227px;
  }
  .checkbox-form__inner {
    padding-left: 59px;
    margin-bottom: 0;
  }
  .checkbox-form__checkbox-switching {
    left: 0;
    top: -8px;
  }
  .checkbox-form__input:checked + .checkbox-form__checkbox-switching {
    content: "";
    left: 0;
    top: -8px;
  }
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
