.advice__list {
  list-style: none;
  width: 100%;
  padding: 0;
}

.advice__item {
  width: 280px;
  min-height: 266px;
  background-color: @basic_grey;
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 36px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-bottom: 22px;
}

.advice__title {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.advice__text {
  font-family: @basicFontFamily-2;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark_grey;
}

.advice__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-black;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .advice {
    margin-top: 529px;
    width: 708px;
    padding: 0 30px;
  }

  .advice__list {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .advice__item {
    width: 708px;
    padding-left: 53px;
    padding-bottom: 55px;
    margin-bottom: 30px;
  }

  .advice__title {
    font-size: 36px;
    line-height: 37px;
    text-align: left;
  }

  .advice__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 61px;
  }
}

@media (min-width: @desktop-width) {
  .advice {
    margin-top: 268px;
    padding: 0 110px;
    width: 1220px;
  }

  .advice__list {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-gap: 60px;
    height: auto;
  }

  .advice__item {
    width: 570px;
    margin: 0;
  }
}
