.contacts {
  margin-top: 15px;
  margin-bottom: 13px;
}

.contacts__container {
  padding: 0 20px;
  width: 280px;
  display: flex;
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 124px;
  margin-right: 20px;
  margin-top: 13px;
}

.contacts__text {
  font-family: @basicFontFamily-2;
  font-size: 14px;
  line-height: 20px;
  color: @special_dark_grey;
  margin-bottom: 0;
}

.contacts__wrapper {
  background-color: @basic_grey;
}

@media (min-width: @tablet-width) {
  .contacts {
    margin-top: 65px;
    margin-bottom: 41px;
  }

  .contacts__container {
    padding: 0 30px;
    width: 708px;
    justify-content: space-between;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    margin-right: 0;
    margin-left: 40px;
    width: 155px;
  }

  .contacts__text {
    font-size: 16px;
    line-height: 20px;
    margin-right: 40px;
    text-align: right;
    margin-top: 12px;
  }

  .contacts__text span {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: absolute;
    width: 570px;
    height: 201px;
    background-color: @basic-white;
    box-sizing: border-box;
    position: absolute;
    left: 110px;
    top: 2287px;
  }

  .contacts__container {
    width: auto;
    padding: 67px 90px 62px 76px;
  }

  .contacts__title {
    margin: 0;
  }

  .contacts__text {
    margin: 0;
    text-align: left;
  }

  .contacts__wrapper {
    background-color: @basic-white;
  }
}
