.description {
  position: relative;
}

.description__container {
  width: 280px;
  padding: 0 20px;
  position: relative;
}

.description__main {
  height: 305px;
  background-repeat: no-repeat;
  margin: 0 -20px;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-color: @basic_green;
  padding: 0 20px;
  width: 320px;
  box-sizing: border-box;
}

.description__title {
  color: @basic-white;
  line-height: 36px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
}

.description__text {
  color: @basic-white;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.description__banner {
  margin-top: 45px;
  position: absolute;
  top: 125px;
}

.description__wrapper {
  width: 280px;
  height: 40px;
  background-color: @basic_green;
  text-align: center;
  margin: 0 auto;
  margin-top: 312px;
  box-sizing: border-box;
  padding-top: 7px;
}

.description__link {
  text-decoration: none;
  color: @basic-white;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .description {
    margin-top: 60px;
  }

  .description__container {
    padding: 0 30px;
    width: 708px;
  }

  .description__main {
    background-color: transparent;
    background-image: none;
    width: 709px;
    min-height: 609px;
  }

  .description__title {
    font-size: 60px;
    line-height: 60px;
    color: @basic-black;
    padding-left: 60px;
    text-align: left;
    width: auto;
    padding-right: 71px;
  }

  .description__text {
    font-size: 20px;
    line-height: 20px;
    color: @basic-black;
    text-align: left;
    padding-left: 60px;
  }

  .description__banner {
    z-index: -1;
    top: 185px;
  }

  .description__wrapper {
    width: 245px;
    height: 52px;
    padding: 15px 5px 5px;
    margin-top: 48px;
    float: left;
    margin-left: 60px;
  }

  .description__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .description__main {
    padding-left: 103px;
  }

  .description__title {
    margin-top: 113px;
  }

  .description__text {
    padding-left: 60px;
  }

  .description__wrapper {
    margin-left: 60px;
  }

  .description__banner {
    top: -131px;
    left: 562px;

    &::after {
      content: "";
      background-image: url("../../img/index-background-desktop@1x.jpg");
      width: 720px;
      height: 696px;
      display: block;
      position: absolute;
      top: -92px;
      right: -327px;
      z-index: -1;
    }
  }
}
