.form-contacts__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.form-contacts__label {
  text-transform: uppercase;
  color: @special_dark_grey-2;
}

.form-contacts__input {
  text-transform: uppercase;
  line-height: 18px;
  color: @special_dark_grey;
}
