.goods {
  padding-left: 20px;
  padding-right: 20px;
}

.goods__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.goods__list {
  list-style: none;
  padding: 0;
}

.goods__subtitle {
  font-size: 16px;
  color: @special_dark_grey-2;
  text-transform: uppercase;
  font-weight: 400;
}

.goods__text {
  font-family: @basicFontFamily-2;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark_grey;
}

.goods__number {
  font-family: @basicFontFamily-2;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark_grey;
}
