.goods__container {
  width: 280px;
  padding: 0 20px;
}

.goods__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.goods__list {
  list-style: none;
  padding: 0;
}

.goods__subtitle {
  font-size: 16px;
  color: @special_dark_grey-2;
  text-transform: uppercase;
  font-weight: 400;
}

.goods__text {
  font-family: @basicFontFamily-2;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark_grey;
}

.goods__number {
  font-family: @basicFontFamily-2;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark_grey;
}

@media (min-width: @tablet-width) {
  .goods__container {
    padding: 0 30px;
    width: 708px;
  }

  .goods__title {
    padding-left: 34px;
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
  }

  .goods__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
  }

  .goods__subtitle {
    font-size: 20px;
    line-height: 20px;
  }

  .goods__text {
    font-size: 16px;
    line-height: 20px;
  }

  .goods__number {
    font-size: 16px;
    line-height: 20px;
  }

  .goods__btn-wrapper {
    width: 633px;
  }
}
