.main-nav__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    padding: 0;
  }
}
