.map__img {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  height: 331px;
  width: auto;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .map__img {
    background-image: url("../../img/bg-map-tablet@1x.png");
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .map__img {
    background-image: url("../../img/bg-map-desktop@1x.png");
  }
}
