.present__photo {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 280px;
  height: 289px;
  background-color: @basic_green;
  margin: 0 auto;
}

.present__text {
  font-family: @basicFontFamily-2;
  font-size: 16px;
  line-height: 20px;
}
