.result {
  background-color: @basic_grey;
}

.result__container {
  width: 280px;
  padding: 0 20px;
}

.result__banner {
  background-image: url("../../img/before-mobile@1x.png");
  width: 311px;
  height: 232px;
  background-repeat: no-repeat;
  background-size: cover;
}

.result__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.result__text {
  font-family: @basicFontFamily-2;
  font-size: 14px;
  line-height: 18px;
}

.result__term {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.result__description {
  color: @special_dark_grey;
  font-family: @basicFontFamily-2;
  font-size: 12px;
  line-height: 12px;
}

.result__total {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 47px;
}
