.sample {
  margin: 0 auto;
}

.sample__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.sample__list {
  padding: 0;
  list-style: none;
}

.sample__item {
  font-family: @basicFontFamily-2;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 32px;
}
