.show-products__title {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
}

.show-products__text {
  font-size: 12px;
  text-align: center;
  font-family: @basicFontFamily-2;
  color: @special_dark_grey;
}

.show-products__wrapper {
  width: 280px;
  height: 40px;
  background-color: @basic_grey;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 7px 0;
}

.show-products__btn {
  text-transform: uppercase;
  text-decoration: none;
  color: @special_dark_grey;
}
