.socials {
  margin-bottom: 0;
}

.socials__list {
  list-style: none;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 0;
  border-top: 1px solid @basic-grey-3;
  border-bottom: 1px solid @basic-grey-3;
}

.socials__link img {
  margin: 0 18px;
}

@media (min-width: @tablet-width) {
  .socials {
    margin: 0;
  }

  .socials__list {
    margin: 0;
  }

  .socials__list {
    border: none;
  }
}
